<header>
  <div class="logo">
    <img src="/images/logo.png" alt="">
  </div>
  <div class="menu">
    <ul>
      <li><a href="#">Services</a></li>
      <li><a href="#">Options</a></li>
      <li><a href="#">Maintenance Tips</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="hamburger">
    <img src="/images/Icons_Menu.svg" alt="menu">
  </div>
  <div class="mobile-menu">
    <div class="menu-header">
      <div class="logo">
        <img src="/images/logo-dark.png" alt="">
      </div>
      <div class="menu-close">
        <img src="/images/Icons_Close.svg" alt="">
      </div>
    </div>
    <div class="menu-items">
      <a href="#" class="menu-item">Services</a>
      <a href="#" class="menu-item">Options</a>
      <a href="#" class="menu-item">Maintenance Tips</a>
      <a href="#" class="menu-item">Reviews</a>
      <a href="#" class="menu-item">About Us</a>
      <a href="#" class="menu-item">Contact Us</a>
    </div>
  </div>
</header>
