<header>
  <a href="/" class="logo">
    <img src="/images/logo.png" alt="">
  </a>
  <div class="menu">
    <ul>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
  <div class="hamburger">
    <img src="/images/Icons_Menu.svg" alt="menu">
  </div>
  <div class="mobile-menu">
    <div class="menu-header">
      <div class="logo">
        <img src="/images/logo-dark.png" alt="">
      </div>
      <div class="menu-close">
        <img src="/images/Icons_Close.svg" alt="">
      </div>
    </div>
    <div class="menu-items">
      <a href="#" class="menu-item"></a>
      <a href="#" class="menu-item"></a>
      <a href="#" class="menu-item"></a>
      <a href="#" class="menu-item"></a>
      <a href="#" class="menu-item"></a>
      <a href="#" class="menu-item"></a>
    </div>
  </div>
</header>
